body{
    background-color: #286064;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}
/* menu */
#navbar{
    display: flex;
    background-color: #71aca4;
    flex-direction: row;
    justify-content: flex-end;
    margin: -8px;
    /* se pone la barra del menu fija */
    position: fixed;
    z-index:100px;
    width: 100%;
    margin-bottom: 20px;

       
}
#navbar a{
    text-decoration: none;
    color: #a14438;
    padding: 20px;
    font-size: 20px;
    font-weight: 900;
    
    
}
/* transion cuando se para sobre el menu */
#navbar a:hover{
    background-color: #e6ebe0;
    color: #286064 ;
    border-radius: 5px;

}
#Welcome-section{
    display: flex;
    flex-direction: column;

}
/* titulo */
#Welcome-section h1{
    font-size: 80px;
    text-align: center;
    color: #e6ebe0;
    margin: 180px 150px 0px 0px;
    padding: 40px;
}
#Welcome-section h2{
    color: #e6ebe0;
    text-align: center;
    margin: -40px 150px 0px 0px;
    font-size: 30px;  
}
/* imagen */
#Welcome-section img{
   width: 15%;
   border-radius: 50%;
   border:7px solid #224a4d;
   flex-direction: column;
   align-self: flex-end; 
   margin: -150px 30px 20px 10px; 
}
/* sobre mi */
#Welcome-section p{
    flex-direction: column;
    text-align-last: left;
    margin: -150px 300px 200px 150px;
    padding: 10px;
    font-size: 30px;
    color: rgb(206, 203, 126);
    font-weight: 900;
}
#Projects #project-title{
    display: flex;
    justify-content: center;
    font-size: 35px;
    color: #e6ebe0;
    background-color: #71aca4;
    align-items: flex-start;
    border-radius: 10px;
    padding: 0%;
    height: 20px;
}
#Projects2 {
    display: grid;
    border-radius: 5px;
    background-color: #0e2a2c;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    grid-template-areas: "pro1 pro2"
                         "pro3 pro4";
}

#Projects2 h3{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* imagenes sobre los proyectos */
#Projects2 img{
    width: 400px;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    align-items: center;
    margin: 10px;
    
}
/* proyectos */
#Projects2 #pro1{
    grid-area: pro1;
    background-color: #71aca4;
    width: 410px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 8px solid #2c5d61;
    border-radius: 10px;
    margin: 120px -0px 2px 100px;
    height: 430px;
}
#Projects2 #pro2{
    grid-area: pro2;
    background-color: #71aca4;
    width: 410px;
    display: flex;
    align-items: center;
    margin: 10px;
    flex-direction: column;
    justify-content: center;
    border: 8px solid #2c5d61;
    border-radius: 10px;
    height: 430px;
    margin: 120px 0px 2px 50px;
}
#Projects2 #pro3{
    grid-area: pro3;
    background-color: #71aca4;
    width: 410px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 8px solid #2c5d61;
    border-radius: 10px;
    margin: 10px -0px 2px 100px;
    height: 430px;
}
#Projects2 #pro4{
    grid-area: pro4;
    background-color: #71aca4;
    width: 410px;
    display: flex;
    align-items: center;
    margin: 10px;
    flex-direction: column;
    justify-content: center;
    border: 8px solid #2c5d61;
    border-radius: 10px;
    height: 430px;
    margin: 10px 0px 2px 50px;
} 
/* boton show all */
#button-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

#button-div button{
    padding: 5px 20px;
    font-size: 25px;
    border: none;
    background-color: #88f7ff;
    color: #489297;
    text-align: center;
    border-radius: 5px;
}

#button-div button:hover{
    cursor: pointer;
}
/* contacto */
#contact{
    height: 100vh;
    background-color: #489297;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contact h1{
    font-size: 100px;
    color: white;
    margin: 0;
}
#contact p{
    font-size: 30px;

}

#contact p a{
    color: white;
}


@media (max-width: 900px){
    #Welcome-section h1{
        font-size: 50px;
    }
    #Welcome-section h2{
        font-size: 20px;
    }
    #Welcome-section p{
        font-size: 20px;
        margin: 0px;
    }
    #Projects #project-title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        text-align: center;
        margin-top: 200px;

    }

    #Projects2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        text-align: center;
    }
    #contact h1{
        font-size: 50px;
    }
    #contact p{
        font-size: 20px;
    }
}